#Definir a porta do servidor. Ex: 3000
PORT =

#DB_HOST: Domínio do servidor. Ex: 'localhost'
#DB_USER: Usuário do banco de dados. Ex: 'root'
#DB_PASSWORD: Senha do banco de dados. Ex: 'root'
#DB_DATABASE: Nome da base de dados criada. Ex: 'landing_page'

DB_HOST =
DB_USER =
DB_PASSWORD =
DB_DATABASE = 