* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
  }
  
  li>a {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    font-family: montserrat;
    margin-top: 1vh;
    margin-right: 2vw;
  }
  
  li {
    font-weight: bold;
    list-style: none;
  }

  body{
    background-color: rgb(255, 255, 255);
}

#showcase {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("/Front/img/basqueteinclusao.png") center center/cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: color;
    flex-direction: column;
    align-content: center;
    text-decoration: none;
}

.box{
    display: flex;
    justify-content: space-between;
    margin-top: 14vh;
    text-decoration: none;
}

#login{
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    width: 8vw;
    height: 4vh;
    text-align: center;
    justify-content: center;
    margin-right: 20vw;
}
#cadastro{
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    width: 8vw;
    height: 4vh;
    text-align: center;
    justify-content: center;
}

#showcase>h3{
    margin-top: 1vh;
    width: 60vw;
}